<html>
    <head>
<link rel="stylesheet"href="css/style.css">
    </head>
    <body>
        
        <div class="center">
            <div class>
                <h1> <%= date %></h1>
                 </div>
<div class="box">

      <%   for (var i=0;i<tasks.length;i++){ %>
        <div class="item">
        <input type="checkbox">
         <p><%= tasks[i] %> </p> 
        </div>
      <% } %>

        <form class="item" action="/"method="post">
 <input type="text"name="task" placeholder="add task"autocomplete="off">
            <button type="submit"name="list"value=<%= date %>> +</button>
        </form>
    </div>
    <footer> &copy muqtar kassim 2023</footer>
</div>

    </body>
</html>